a {
  text-decoration: none;
  color: #a2a1a6;
}
.header-nav > .header-three > a {
  color: #fe5341;
}
.shopdtl-nav {
  color: #a2a1a6;
  font-size: 12px;
}
.shopdtl-nav > a {
  margin-right: 5px;
  float: left;
}
.shopdtl-nav > a:hover {
  color: #fe5341;
}
.shopdtl-nav > p {
  float: left;
  margin-right: 5px;
}
.shopdtl {
  width: 75%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 40px;
}
body {
  background-color: #f7f7f7;
}
.shopdtl-left {
  width: 65%;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  float: left;
}
.shopleft-head {
  border-bottom: 1px solid #a2a1a6;
}
.shoplh-mian {
  width: 90%;
  height: 90px;
  margin: 0px auto;
  padding: 20px 0px ;
  position: relative;
}
.shopl-headimg {
  width: 30px;
  height: 30px;
  background: url('../images/img1/tx.jpg') no-repeat;
  background-size: 100%;
  float: left;
  margin-top: 20px;
  cursor: pointer;
}
.shopl-hesp1 {
  display: block;
  font-size: 12px;
  color: #a2a1a6;
  margin-top: 28px;
  margin-left: 10px;
  float: left;
  cursor: pointer;
}
.shopl-hesp2 {
  display: block;
  font-size: 12px;
  color: #a2a1a6;
  margin-top: 28px;
  float: right;
}
.shopl-body {
  padding: 40px 30px;
}
.shoplbmain-img1 {
  background: url('../images/img2/detail.jpg') no-repeat;
  width: 100%;
  height: 384px;
  background-size: 100%;
}
.shoplbmain-img2 {
  background: url('../images/img2/detail1.jpg') no-repeat;
  width: 100%;
  height: 384px;
  background-size: 100%;
}
.shoplbmain-img3 {
  background: url('../images/img2/detail2.jpg') no-repeat;
  width: 100%;
  height: 384px;
  background-size: 100%;
}
.shoplbmain-img4 {
  background: url('../images/img2/detail3.jpg') no-repeat;
  width: 100%;
  height: 384px;
  background-size: 100%;
}
.shoplbmain-img5 {
  background: url('../images/img2/detail4.jpg') no-repeat;
  width: 100%;
  height: 384px;
  background-size: 100%;
}
.shoplbmain-img6 {
  background: url('../images/img2/detail5.jpg') no-repeat;
  width: 100%;
  height: 384px;
  background-size: 100%;
}
.shoplbmain-img7 {
  background: url('../images/img2/detail1.jpg') no-repeat;
  width: 100%;
  height: 384px;
  background-size: 100%;
}
.shoplbmain-img8 {
  background: url('../images/img2/detail5.jpg') no-repeat;
  width: 100%;
  height: 384px;
  background-size: 100%;
}
.shopl-body > h5 {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.shopl-body > p {
  color: #30284d;
  line-height: 1.8;
  margin-top: 26px;
  margin-bottom: 30px;
}
.shopl-body > .shoplbmain-p15 {
  margin-top: 100px;
  margin-bottom: 0px;
  color: #c4c3cb;
  cursor: pointer;
}
.shopl-body > .shoplbmain-p15:hover {
  color: #fe5341;
}
.shopl-body > .shoplbmain-p16:hover {
  color: #fe5341;
}
.shopl-body > .shoplbmain-p16 {
  margin-top: 0px;
  color: #c4c3cb;
  cursor: pointer;
}
.shopdtl-right {
  margin-top: 20px;
  float: right;
  background-color: #ffffff;
}
.header-main > .header-nav > .header-one > a {
  color: black;
}
.rshoptll {
  background: url('../images/img1/xinRedo.png') no-repeat 66px 55px;
  border-radius: 8px 0px 0px 8px;
  width: 160px;
  height: 160px;
  text-align: center;
  line-height: 200px;
  border: 1px solid #a2a1a6;
  box-sizing: border-box;
  float: left;
  cursor: pointer;
  text-indent: 4px;
  color: black;
}
.rshoptlladd {
  background: url('../images/img1/xinRedh.png') no-repeat 66px 55px;
  border-radius: 8px 0px 0px 8px;
  width: 160px;
  height: 160px;
  text-align: center;
  line-height: 200px;
  border: 1px solid #a2a1a6;
  box-sizing: border-box;
  float: left;
  cursor: pointer;
  text-indent: 4px;
  color: #fe5341;
}
.rshoptlr {
  background: url('../images/img1/share_yj1.png') no-repeat 69px 55px;
  border-radius: 0px 8px 8px 0px;
  width: 160px;
  height: 160px;
  text-align: center;
  line-height: 200px;
  border: 1px solid #a2a1a6;
  box-sizing: border-box;
  float: left;
  cursor: pointer;
  text-indent: 4px;
  border-left: none;
}
.rshoptlr:hover {
  color: #fe5341;
  background: url('../images/img1/shareh_yj1.png') no-repeat 69px 55px;
}
.bshare-custom {
  width: 270px;
  height: 45px;
  position: absolute;
  right: 185px;
  top: 350px;
}
.fix {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  bottom: 30px;
  right: 50px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 50%;
}
.fix > img {
  margin: 0 auto;
  margin-left: 8px;
}
